extends layout

block content
  h1 #{title}: #{game.title}

  p Do you really want to delete this Game?

  form(method='POST' action='')
    div.form-group
    input#gameid.form-control(type='hidden', name='gameid', required='true', value=game._id )
    div.form-group
        label(for='admin-password') Admin Password:
        input#admin-password.form-control(type='password' name='admin-password' required)

    button.btn.btn-primary(type='submit') Delete

  if errors
    ul
      for error in errors
        li!= error.msg