extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='name') Platform:
      input#name.form-control(type='text', placeholder='Nintendo 64, PlayStation, Xbox, etc.' name='name' value=(undefined===platform ? '' : platform.name) required)
    if platform
      div.form-group
          label(for='admin-password') Admin Password:
          input#admin-password.form-control(type='password' name='admin-password' required)

    if errors
      ul
        for error in errors
          li!= error.msg

    button.btn.btn-primary(type='submit') Submit