extends layout

block content
  h1=title

  div.form
    form(method='POST' action='')
      div.form-group
        label(for='name') Platform:
        input#name.input-block(type='text', placeholder='Nintendo 64, PlayStation, Xbox, etc.' name='name' value=(undefined===platform ? '' : platform.name) required)
      if platform
        div.form-group
          label(for='admin-password') Admin Password:
          input#admin-password.input-block(type='password' name='admin-password' required)

      if errors
        ul
          for error in errors
            li!= error.msg

      button(class='btn user-btn form-btn' type='submit') Submit